@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600;700;800;900&family=Mochiy+Pop+One&family=Roboto:wght@300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@600&display=swap');

:root {
    --main-color: #2545b8;
}

* {
    box-sizing: inherit;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    border-radius: 13px;
    background-color: rgb(252, 252, 252);
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    border: #2f2f2f;
    border-radius: 4px;
    background: linear-gradient(#00c6ff, #0072ff);
}

body {
    margin: 0;
    padding: 0;
    /* background-image: url(../img/background2.jpg);
    background-size: 100%;    */
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.page {
    position: relative;
    height: 1200px;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}