.content-brand {
    width: 100%;
    height: 260px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: #333;
    margin: 0 auto;
    position: relative;
    top: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.brand-title {
    padding: 15px 15px;
}

.brands {
    display: flex;
    justify-content: space-around;
}

.brand-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand-1 img {
    max-width: 100%;
    width: 250px;
    height: 145px;
    object-fit: cover;
    border-radius: 7px;
    transition: 0.2s;
}

.brand-1 img:hover {
    transform: scale(1.05);
}

.brand-1 p {
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
}

/* #img3 {
    height: 140px;

} */