.content-computer-component {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 100px;
}

.computer-component {
    height: 940px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0);
    justify-content: space-between;
}

.computer-component-1
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    border-radius: 10px;
}

.computer-component-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    border-radius: 10px;
    margin-top: 40px;
}

.computer-component__item {
    width: 48%;
    height: 430px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-all {
    display: flex;
    justify-content: space-between;
    margin: 15px 25px;
    align-items: center;
}

.title-all a {
    font-size: 15px;
    text-decoration: none;
    color: #aeb1c0;
}

.title-all a:hover {
    color: #1435c3;
}

.items {
    display: flex;
    flex: 1;
}

.item-col {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item-col__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.item-row1 {
    border-right: 1px solid rgb(231, 229, 229);
    border-bottom: 1px solid rgb(231, 229, 229);
    border-top: 1px solid rgb(231, 229, 229);
}

.item-row2 {
    border-right: 1px solid rgb(231, 229, 229);
}

.item-row3 {
    border-bottom: 1px solid rgb(231, 229, 229);
    border-top: 1px solid rgb(231, 229, 229);
}

.item-row6 {
    border-left: 1px solid rgb(231, 229, 229);
}

.item-row5 {
    border-left: 1px solid rgb(231, 229, 229);
    border-bottom: 1px solid rgb(231, 229, 229);
    border-top: 1px solid rgb(231, 229, 229);
}

.item-col__row img {
    width: 100px;
    transition: 0.2s;
}

.item-col__row img:hover {
    transform: scale(1.15);
}

.img-4:hover {
    transform: scale(1.2) !important;
}

.title-detail {
    text-align: center;
}

.title-detail:hover {
    color: #1435c3;
    cursor: pointer;
}

.title-detail p {
    font-size: 13px;
}