.page {
    position: relative;
    height: 3700px;
}

.header {
    width: 100%;
    height: 88px;
    /* background-color: rgb(215, 226, 241); */
    background-color: #fff;
    position: fixed;
    z-index: 20;
}

.header-block {
    width: 1250px;
    height: 88px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {

}

#img1 {
    width: 250px;
}

.header__search {
    /* display: none; */
    display: flex;
    border: 1px solid rgb(226, 223, 223);
    border-radius: 10px;
    overflow: hidden;
}

input {
    width: 300px;
    height: 100%;
    padding: 10px 15px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    outline: none; 
    
}

.header__search--btn {
    background-color: #1435c3;
    color: white;
    margin: 0 auto;
    margin-left: -15px;
    padding: 8px 12px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 16px;
}

.header__func {
    flex-wrap: nowrap;
    align-self: center;
    font-size: 25px;
}

.fa-solid + .fa-solid {
    margin-left: 10px;
}

.fa-solid:hover {
    color: #1435c3;
    cursor: pointer;
    transition: 0.3s ease;
}

.fa-bell {
    position: relative;
}

.header__search--btn:hover {
    margin-left: -5px;
    color: white;
    cursor: pointer;
    transition: 0.5s linear;
    transition-delay: 0.3s;
} 

.fa-solid.fa-magnifying-glass:hover {
    color: #fff;
}

.nortification__none {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    width: 300px;
    height: 200px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nortification__none--icon {
    margin-top: 15px;
}

.nortification__none--text {
    color: #333;
    margin-top: 15px;
}

.fa-solid.fa-bell:hover .nortification__none {
    opacity: 1;
    visibility: visible;
    transition: 0.6s;
}

.nortification:hover {
    display: none;
    cursor: default;
}

.fa-cart-shopping {
    position: relative;
}

.cart__none {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    width: 300px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}

.cart__none--icon {
    margin-top: 10px;
}

.cart__none--text {
    color: #333;
}

.fa-solid.fa-cart-shopping:hover .cart__none {
    opacity: 1;
    visibility: visible;
    transition: 0.6s;

}

.cart:hover {
    display: none;
    cursor: default;
}



/* ------------- Slide Styling ------------- */

.slide-block {
    width: 100%;
    height: 586px;
    position: relative;
    top: 88px;
}

.slides {
    width: 1903px;
    height: 586px;
    margin: 0 auto;
    
}

.carousel-inner {
    width: 100%;
    margin: 0 auto;
    height: 586px;
    overflow: hidden;
    z-index: 0;
}

.img-slide {
    width: 100%;
}

.carousel {
    position: relative;
    width: 100%;
    height: 566px;
}

.carousel-indicators {
    width: 160px;
    position: absolute;
    bottom: 12%;
    left: 50%;
    z-index: 9;
    margin-left: -80px;
    display: flex;
    justify-content: space-between;
}
.carousel-indicators button  {
	width: 10px;
    height: 30px;
    background-color: #fff;
    opacity: 0.8;
    cursor: pointer;
}

.button-prev {
    width: 60px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-next {
    width: 60px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control-prev {
    margin-left: 450px;
    margin-bottom: 60px;
    font-size: 25px;
}
.carousel-control-next {
    margin-right: 410px;
    margin-bottom: 60px;
    font-size: 25px;
}

.carousel-indicators .active {
    background-color: #1435c3;
}

/* ---------------- Menu Styling ---------------- */

.content-block {
    width: 100%;
    position: absolute;
    top: 110px;
    height: 3300px;
}

.content {
    width: 1250px;
    margin: 0 auto;
}

.content-menu-build {
    width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 240px;
    height: 465px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    z-index: 10;
    /* overflow: hidden; */
    /* visibility: hidden; */
}

.row1 {
    width: 240px;
    height: 40px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    transition: 0.2s;
}
.row1:hover {
    background-color: rgb(224, 228, 230);
    cursor: pointer;
    color: #1435c3;
}
.row1-1 {
    margin-top: 10px;
}
.icon-menu {
    font-size: 22px;
    margin: 0 15px;
    opacity: 0.8;
}

.icon-menu.fa-tablet-screen-button {
    margin: 0 19px;
}
.icon-menu.fa-display {
    margin: 0 16px;
}
.icon-menu.fa-microchip {
    font-size: 23px;
    margin: 0 17px;
}
.icon-menu.fa-gamepad {
    font-size: 21px;
    margin: 0 16px;
}
.icon-menu.fa-headphones-simple {
    margin: 0 18px;
}
.icon-menu.fa-camera {
    margin: 0 18px;
}
.icon-menu.fa-print {
    margin: 0 18px;
}
.icon-menu.fa-tower-broadcast {
    margin: 0 17px;
}
.text-menu {
    font-size: 13px;
    font-weight: 500;
    margin-top: 5px;
    margin-right: 20px;
}

.menu-row1,
.menu-row2,
.menu-row3,
.menu-row4,
.menu-row5,
.menu-row6,
.menu-row7,
.menu-row8,
.menu-row9,
.menu-row10,
.menu-row11
{
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 0;
    left: 230px;
    z-index: 10;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-around;
    padding: 20px 20px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

ul {
    margin: 0;
    padding: 0;
}

.menu-row1 {
    width: 785px;
    height: 420px;
}
.menu-row2 {
    width: 650px;
    height: 400px;
}
.menu-row3 {
    width: 500px;
    height: 400px;
}

.menu-row4 {
    width: 650px;
    height: 420px;
}
.menu-row5 {
    width: 700px;
    height: 420px;
}
.menu-row6 {
    width: 820px;
    height: 465px;
}
.menu-row7 {
    width: 850px;
    height: 480px;
}
.menu-row8 {
    width: 430px;
    height: 500px;
}
.menu-row9 {
    width: 350px;
    height: 350px;
}
.menu-row10 {
    width: 785px;
    height: 420px;
}
.menu-row11 {
    width: 430px;
    height: 465px;
}

.menu-row1 li,
.menu-row2 li,
.menu-row3 li,
.menu-row4 li,
.menu-row5 li,
.menu-row6 li,
.menu-row7 li,
.menu-row8 li,
.menu-row9 li,
.menu-row10 li,
.menu-row11 li
{   
    display: flex;
    justify-content: flex-start;
    list-style: none;
    font-size: 14px;
    line-height: 25px;
}

.menu-row1 li a,
.menu-row2 li a,
.menu-row3 li a,
.menu-row4 li a,
.menu-row5 li a,
.menu-row6 li a,
.menu-row7 li a,
.menu-row8 li a,
.menu-row9 li a,
.menu-row10 li a,
.menu-row11 li a
{
    text-decoration: none;
    color: darkslategray;
}

.menu-row1 li a:hover,
.menu-row2 li a:hover,
.menu-row3 li a:hover,
.menu-row4 li a:hover,
.menu-row5 li a:hover,
.menu-row6 li a:hover,
.menu-row7 li a:hover,
.menu-row8 li a:hover,
.menu-row9 li a:hover,
.menu-row10 li a:hover,
.menu-row11 li a:hover
{
    color: #1435c3;
}

.menu-row1 h4,
.menu-row2 h4,
.menu-row3 h4,
.menu-row4 h4,
.menu-row5 h4,
.menu-row6 h4,
.menu-row7 h4,
.menu-row8 h4,
.menu-row9 h4,
.menu-row10 h4,
.menu-row11 h4
{
    color: #1435c3;
    cursor: pointer;
}

.menu-row1__col2--row2,
.menu-row1__col3--row2,
.menu-row1__col4--row2,
.menu-row2__col2--row2,
.menu-row2__col3--row2,
.menu-row4__col2--row2,
.menu-row5__col3--row2,
.menu-row5__col4--row2,
.menu-row6__col3--row2,
.menu-row6__col4--row2,
.menu-row6__col5--row2,
.menu-row7__col1--row2,
.menu-row7__col2--row2,
.menu-row7__col3--row2,
.menu-row7__col4--row2,
.menu-row7__col5--row2,
.menu-row9__col1--row2,
.menu-row9__col2--row2,
.menu-row10__col1--row2,
.menu-row10__col2--row2,
.menu-row10__col3--row2,
.menu-row10__col3--row3,
.menu-row10__col4--row2
{
    margin-top: 15px;
}

/* Menu hover */

.row1-1:hover .menu-row1,
.row1-2:hover .menu-row2,
.row1-3:hover .menu-row3,
.row1-4:hover .menu-row4,
.row1-5:hover  .menu-row5,
.row1-6:hover  .menu-row6,
.row1-7:hover  .menu-row7,
.row1-8:hover  .menu-row8,
.row1-9:hover  .menu-row9,
.row1-10:hover .menu-row10,
.row1-11:hover .menu-row11
{
    opacity: 1;
    visibility: visible;
}
/*  */

/*------------- Build & News Styling --------------*/


.build-news {
    width: 200px;
    height: 465px;
    border-radius: 10px;
    z-index: 1;
}

.build-news img {
    width: 200px;
    height: 220px;
    border-radius: 10px;
    transition: 0.2s;
}

.build-news img:hover {
    transform: scale(1.02);
}

.news {
    margin-top: 20px;
}

/* ------------- Sale Styling ------------- */

.content-sale {
    width: 1250px;
    margin: 0 auto;
    position: relative;
    top: 20px;
}

.sales {
    height: 135px;
    display: flex;
    justify-content: space-between;
    z-index: 9;
}

.img-sale {
    border-radius: 7px;
    transition: 0.2s;
}

.img-sale:hover {
    transform: scale(1.02);
}

/* ------------- Brand Styling ------------- */


.content-brand {
    width: 1250px;
    height: 260px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: #333;
    margin: 0 auto;
    position: relative;
    top: 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.brand-title {
    padding: 15px 15px;
}

.brands {
    display: flex;
    justify-content: space-around;
    
}

.brand-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand-1 img {
    width: 250px;
    height: 145px;
    border-radius: 7px;
    transition: 0.2s;
}

.brand-1 img:hover {
    transform: scale(1.05);
}

.brand-1 p {
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
}

#img3 {
    height: 140px;
}

.btn-contact:hover {
    transform: scale(1.2);
}

#btn-instagram {
    position: fixed;
    bottom: 390px;
    right: 50px;
    z-index: 99;
    width: 43px;
    height: 43px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    /* border: 1px solid #ccc; */
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    /* opacity: 0.7; */
    overflow: hidden;
}
#btn-fb {
    position: fixed;
    bottom: 330px;
    right: 50px;
    z-index: 99;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    /* border: 1px solid #ccc; */
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    /* opacity: 0.7; */

}
#btn-messenger {
    position: fixed;
    bottom: 270px;
    right: 50px;
    z-index: 99;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    /* border: 1px solid #ccc; */
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
#btn-phone {
    position: fixed;
    bottom: 210px;
    right: 50px;
    z-index: 99;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #fff;
    /* border: 1px solid #ccc; */
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 99;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #fff;
    border: 2px solid #ccc;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.7;
}
     
.fa-arrow-up {
    font-size: 20px;
    color: #1435c3;
}
#myBtn:hover {
    background-color: #f1f1f1;
}

/* -------------- Computer-Component Styling -------------- */

.content-computer-component {
    width: 1250px;
    margin: 0 auto;
    position: relative;
    top: 100px;
}

.computer-component {
    height: 940px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.computer-component-1
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.computer-component-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin-top: 40px;
}

.computer-component__item {
    width: 48%;
    height: 430px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    overflow: hidden;
}

.title-all {
    display: flex;
    justify-content: space-between;
    margin: 15px 25px;
    align-items: center;
}

.title-all a {
    font-size: 15px;
    text-decoration: none;
    color: #aeb1c0;
}

.title-all a:hover {
    color: #1435c3;
}

.items {
    display: flex;
}

.item-left {
    flex: 1;
}

.item-left img {
    transition: 0.2s;
}

.item-left img:hover {
    transform: scale(1.012)
}


.item-right {
    flex: 2;
    display: flex;
    justify-content: space-around;
}

.item-right__col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px solid silver; */
    width: 100%;
}

.item-right__col--row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* border: 1px solid silver; */
}

.item-row1 {
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
}

.item-row2 {
    border-right: 1px solid silver;
}

.item-row3 {
    border-bottom: 1px solid silver;
}

.item-right__col--row img {
    width: 100px;
    transition: 0.2s;
}

.item-right__col--row img:hover {
    transform: scale(1.15);
}

.img-4:hover {
    transform: scale(1.2) !important;
}

.title-detail {
    text-align: center;
}

.title-detail:hover {
    color: #1435c3;
    cursor: pointer;
}

.title-detail p {
    font-size: 13px;
}

/*-------------------- Product Styling --------------------*/

.content-product {
    width: 1250px;
    height: 1260px;
    background-color: #fff;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    top: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* overflow: hidden; */
}

.product-title {
    padding: 20px 30px;
    text-transform: uppercase;
}

.container {
    width: 1250px;
    height: 1260px;
    position: absolute;
    top: 60px;
    margin: 0;
    padding: 0;
    
}

.products {
    width: 1250px;
    height: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: calc(1250px/5);
    height: 400px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    border: 1px solid #ececec;
}

.img-product {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.product-11 {
    border-bottom-left-radius: 10px;
}

.product-15 {
    border-bottom-right-radius: 10px;
}

.img-product img{
    width: 220px;
    transition: 0.2s;
}

.img-product img:hover {
    transform: scale(1.12);
}

.product-name {
    display: block;
  	display: -webkit-box;
    -webkit-line-clamp: 3;  /* số dòng hiển thị */
  	-webkit-box-orient: vertical;
    overflow: hidden;
  	text-overflow: ellipsis;
    height: 13px*1.3*3;
    font-size: 13px;
    line-height: 1.3;
    padding: 0 15px;
}

.product-price {
    height: 40px;
    position: absolute;
    bottom: 40px;
    font-size: 15px;
    padding: 0 15px;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    color: #1435c3; 
}

.product-cost-discount {
    display: flex;
    font-size: 13px;
    font-family: 'Exo', sans-serif;
    position: absolute;
    bottom: 30px;
}

.product-cost {
    padding: 0 15px;
    text-decoration: line-through;
}

.product-discount {
    color: #1435c3;
}

.product-paging {
    width: 700px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-paging {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-prev,
.btn-next
{
    width: 40px;
    height: 40px;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 5px;
}

.btn-prev,
.btn-next:hover {
    opacity: 0.9;
}

.fa-angle-left:hover,
.fa-angle-right:hover {
    color: black;
}

.btn-active {
    opacity: 0.4;
}

.btn-active:hover {
    opacity: 0.4;
}

.number-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.number-page li {
    width: 40px;
    height: 40px;
    background-color: silver;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.number-page li:hover {
    opacity: 0.9;
}

.number-page li.active {
    background-color: #1435c3;
    color: #fff;
}

footer {
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    border-top: 2px solid #1435c3;
}

.footer-block {
    width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.ft-content {
    font-size: 14px;
}

.ft-title {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #1435c3;
    padding: 5px 0;
}

ul li{
    list-style: none;
}

.ft-content a {
    text-decoration: none;
    color: #333;
}

.ft-content a:hover {
    color: #1435c3;
}

.ft-content h3 {
    font-size: 16px;
    font-weight: bold;
    color: #1435c3;
}

.h3-address {
    margin-top: 10px;
}

.ft-content-pay {
    display: flex;
    width: 320px;
    justify-content: space-between;
}

.pay {
    margin-top: 5px;
}

.pay-img {
    width: 60px;
    height: 50px;
    margin-bottom: 5px;
}

.pay-img img {
    width: 80%;
}


@media (min-width: 1250px) {
    .container {
        max-width: 1250px;
    }
}

@media (min-width: 700px) {

    
}
@media (min-width: 1100px) {

}