/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1200px) {

    .page {
        height: 5800px !important;
    }

    /* --------------- header --------------- */

    .header {
        max-width: 100%;
        padding: 0 3% !important;
    }

    .header__logo {
        max-width: 100%;
    }

    #img1 {
        max-width: 100%;
    }

    .header__search {
        max-width: 30%;
    }

    .fa-solid+.fa-solid {
        margin-left: 20px;
    }

    .header__func {
        font-size: 27px;
    }

    /* ----------------- slide -----------------  */

    .slide-block {
        background-color: #fff !important;
    }

    .slides {
        display: none;
    }

    .carousel {
        display: none;
    }

    .img-slide {
        display: block !important;
        width: 100%;
    }

    .img-slide img {
        width: 100%;
        height: 470px;
        margin-top: 75px;
        object-fit: cover;
    }


    /* ----------------- content -----------------  */

    .content {
        max-width: 100%;
        padding: 0 3% !important;
    }

    .content-menu-build {
        flex-direction: column;
    }

    /* ----------------- content-menu -----------------  */
    .menu {
        width: 100% !important;
        height: 50px !important;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        flex-direction: row !important;
        background-color: rgba(255, 255, 255, 0.9) !important;
    }

    .row1 {
        justify-content: center !important;
    }

    .menu-row1,
    .menu-row2,
    .menu-row3,
    .menu-row4,
    .menu-row5,
    .menu-row6,
    .menu-row7,
    .menu-row8,
    .menu-row9,
    .menu-row10,
    .menu-row11 {
        width: 100% !important;
    }

    .row1-1,
    .row1-2,
    .row1-3,
    .row1-4,
    .row1-5,
    .row1-6,
    .row1-7,
    .row1-8,
    .row1-9,
    .row1-10,
    .row1-11 {
        margin-top: 5px !important;
    }

    .menu-row1,
    .menu-row2,
    .menu-row3,
    .menu-row4,
    .menu-row5,
    .menu-row6,
    .menu-row7,
    .menu-row8,
    .menu-row9,
    .menu-row10,
    .menu-row11 {
        top: 45px !important;
        left: 0 !important;
        padding: 25px 20px !important;
    }

    .build-news {
        width: 100% !important;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .build-news img {
        width: 220px !important;
        height: auto !important;
    }

    .news {
        margin-top: 0 !important;
        margin-left: 30px;
    }

    .text-menu {
        display: none;
    }

    /* ----------------- content-brand -----------------  */

    .content-brand {
        height: 460px !important;
    }

    .brands {
        flex-wrap: wrap;
    }

    .brand-1 {
        width: 50%;
    }

    .brand-1 img {
        width: 300px !important;
    }

    /* ----------------- content-computer-component -----------------  */


    .computer-component-1,
    .computer-component-2 {
        flex-wrap: wrap;
    }

    .computer-component__item {
        width: 100% !important;
        height: 460px !important;
    }

    .item-col__row img {
        width: 100px !important;
    }

    .cp-r2 {
        margin-top: 30px;
    }

    /* ----------------- content-product -----------------  */

    .content-product {
        top: 1170px !important;
        height: 2060px !important;
    }

    .product {
        width: 33% !important;
    }

    .product-paging {
        margin-top: 840px !important;
    }

    .img-product {
        width: 220px !important;
        margin: 0 auto;
    }

    /* ----------------- footer -----------------  */

    footer {
        height: 350px !important;
    }

    .footer-block {
        width: 90% !important;
        flex-wrap: wrap;
    }

    .footer-col1 {
        width: 23%;
    }

    .footer-col2 {
        width: 60%;
    }

    .footer-col3 {
        width: 23%;
    }

    .footer-col4 {
        width: 60%;
    }

    .btn-contact {
        display: none !important;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {

    .page {
        height: 6950px !important;
    }

    /* --------------- header --------------- */

    .header__search {
        display: none !important;
    }

    .header {
        max-width: 100%;
        padding: 0 5% !important;
    }

    .header__logo {
        flex: 2;
    }

    #img1 {
        max-width: 80%;
    }

    .header__func {
        flex: 1;
        font-size: 24px !important;
        display: flex;
        justify-content: flex-end;
    }

    .nortification__none {
        width: 250px !important;
        height: 170px !important;
    }

    .cart__none {
        width: 250px !important;
        height: 180px !important;
    }

    .nortification__none--icon img {
        width: 100px;
        margin: 0 auto;
        margin-bottom: 5px;
    }

    .cart__none--icon img {
        width: 120px !important;
        margin: 0 auto;
        margin-bottom: 5px !important;
    }

    /* --------------- slide --------------- */

    .slide-block {
        display: none !important;
    }

    /* --------------- content --------------- */

    .content {
        max-width: 100%;
        top: 52px !important;
        padding: 0 2% !important;
    }

    .content-menu-build {
        display: none !important;
    }

    /* --------------- content-brand --------------- */
    .brand-title h3 {
        font-size: 19px;
        text-align: center;
        text-transform: uppercase;
    }

    .content-brand {
        height: 830px !important;
    }

    .brands {
        flex-wrap: wrap;
    }

    .brand-1 {
        width: 100%;
    }

    .brand-1 img {
        width: 290px !important;
    }

    /* --------------- content-computer-component --------------- */

    .computer-component-1,
    .computer-component-2 {
        flex-wrap: wrap;
    }

    .computer-component__item {
        width: 100% !important;
        height: 460px !important;
    }

    .title-all a {
        display: none;
    }

    .title-all h3 {
        flex: 1;
        text-align: center;
        font-size: 19px;
    }

    .item-col__row img {
        width: 100px !important;
    }

    .cp-r2 {
        margin-top: 30px;
    }

    /* --------------- content-product --------------- */

    .content-product {
        top: 1170px !important;
        height: 3260px !important;
    }

    .product {
        width: 50% !important;
    }

    .product-paging {
        width: 100% !important;
        margin-top: 2050px !important;
    }

    .img-product {
        width: 100% !important;
        margin: 0 auto;
    }

    .img-product img {
        width: 150px !important;
    }

    .product-title h3 {
        font-size: 19px;
        text-align: center;
    }

    /* --------------- footer --------------- */

    footer {
        height: 530px !important;
    }

    .footer-block {
        width: 90% !important;
        flex-wrap: wrap;
    }

    .footer-col1 {
        width: 23%;
    }

    .footer-col2 {
        width: 60%;
    }

    .footer-col3 {
        width: 23%;
    }

    .footer-col4 {
        width: 60%;
    }

    .ft-content-pay {
        flex-wrap: wrap;
    }


    .btn-contact {
        display: none !important;
    }
}